.containerDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url(../images/servers.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  z-index: 9999;
}

#rightSide img,
#leftSide img {
  position: absolute;
}

.mainDiv {
  position: absolute;
  width: 500px;
  height: 500px;
}

#rightSide {
  left: 500px;
  border-left: 5px solid;
  border-color: aliceblue;
}

#gameArea {
  transform: translate(22.5%);
}

.gameCon {
  transform: translateY(22%);
}

@media (min-width: 330) and (max-width: 575.98px) {
  .parentContainer {
    position: absolute;
    top: 37%;
    left: 9%;
    transform: scale(0.3);

  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .parentContainer {
    position: absolute;
    top: 30%;
    left: 14%;
    transform: scale(0.5);

  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .parentContainer {
    position: absolute;
    top: 22%;
    left: 9%;
    transform: scale(0.77);

  }
}

@media (min-width: 900px) and (max-width: 1199.98px) {
  .parentContainer {
    position: absolute;
    top: 77%;
    left: 9%;
    transform: scale(0.77);

  }
}

@media (min-width: 1200px) and (max-width: 3000px) {
  .parentContainer {
    position: absolute;
    top: 88%;
    left: 23%;
    transform: scale(1);
  }
}