.titleImg1 {
  position: absolute;
  top: 0;
  right: 22%;
  transform: translateX(-50%);
  z-index: 1;
}

.titleImg2 {
  position: absolute;
  top: 0;
  right: -33%;
  transform: translateY(-3%);
  z-index: 0;
}

.titleImg3 {
  position: absolute;
  top: 0;
  right: 11%;
  transform: translateY(179%);
  z-index: 0;
}
.burgerH {
  position: absolute;
  top: 0;
  right:88%;
  transform: translateY(545%);
  z-index: 2;
}

.titleImg4 {
  position: absolute;
  right: 11%;
  transform: translateY(1%);
  z-index: 0;
}

.titleImg5 {
  position: absolute;
  right: 24%;
  transform: translateY(1%);
  z-index: 0;
}

.titleImg6 {
  position: absolute;
  left: 36%;
  transform: translateY(-5%);
  z-index: -1;
  transform: translateX(-44%);
}

.titleImg7 {
  position: absolute;
  top: 0;
  left: 11%;
  transform: translateY(179%);
  z-index: 0;
}

.titleImg8 {
  position: absolute;
  top: 0;
  right: 90%;
  transform: translateY(222%);
  z-index: 1;
}

.titleImg9 {
  position: absolute;
  top: 0;
  right: 90%;
  transform: translateY(345%);
  z-index: 1;
}

.titleImg10 {
  position: absolute;
  top: 0;
  left: 51%;
  transform: translateX(-22%);
  transform: translateY(-11%);
  z-index: 1;
}

.titleImg11 {
  position: absolute;
  top: 0;
  left: 3%;
  transform: translateY(599%);
  z-index: 1;
}
.gameOverImage {
    position: absolute;

    top: 0;

    left: 37%;

    transform: translateX(-22%);
    transform: translateY(33%);
    z-index: -1;
  }
  @media (max-width: 575.98px) {
    .gameOverImage {
      transform: scale(.4) translateX(-102%) translateY(33%); /* Adjust the scaling factor as needed */
  }
  }
  @media (min-width: 583px) and (max-width: 991.98px) {
    .gameOverImage  {
    transform: scale(.7) translateX(-49%) translateY(44%); /* Adjust the scaling factor as needed */
  }
  }
  @media (min-width: 760px) and (max-width: 1200px) {
    .gameOverImage  {
      transform: scale(.7) translateX(-34%) translateY(22%); /* Adjust the scaling factor as needed */
  }
  }
  @media (min-width: 1200px) and (max-width: 2450px) {
    .gameOverImage {
      transform: scale(1) translateX(0%) translateY(29%); /* Adjust the scaling factor as needed */
  }
  }

  @media (min-width: 330) and (max-width: 575.98px) {
    #starCon {
        position: absolute;
        top: -15%; /* Adjust the value as needed */
        left: -62%; /* Adjust the value as needed */
        transform: scale(0.3);
        /* Other styles... */
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #starCon {
    position: absolute;
    top: -19%; /* Adjust the value as needed */
    left: -22%; /* Adjust the value as needed */
    transform: scale(0.3);
    /* Other styles... */
}
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .parentContainer {
    position: absolute;
    top: 22%; /* Adjust the value as needed */
    left: 9%; /* Adjust the value as needed */
    transform: scale(0.77);
    /* Other styles... */
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .parentContainer {
    position: absolute;
    top: 24%; /* Adjust the value as needed */
    left: 9%; /* Adjust the value as needed */
    transform: scale(0.77);
    /* Other styles... */
}
}
@media (min-width: 1200px) {
  .parentContainer {
    position: absolute;
    top: 22%; /* Adjust the value as needed */
    left: 23%; /* Adjust the value as needed */
    transform: scale(1);
    /* Other styles... */
}
}
@media (min-width: 1700px) {
  .parentContainer {
    position: absolute;
    top: 22%; /* Adjust the value as needed */
    left: 22%; /* Adjust the value as needed */
    transform: scale(1);
    /* Other styles... */
}
}