.titleImg1 {
  position: absolute;
  top: 0;
  right: 22%;
  transform: translateX(-50%);
  z-index: 1;
}

.titleImg2 {
  position: absolute;
  top: 0;
  right: -33%;
  transform: translateY(-3%);
  z-index: 0;
}

.titleImg3 {
  position: absolute;
  top: 0;
  right: 11%;
  transform: translateY(179%);
  z-index: 0;
}
.burgerH {
  position: absolute;
  top: 0;
  right:41%;
  transform: translateY(280%);
  z-index: 0;
}

.titleImg4 {
  position: absolute;
  right: 11%;
  transform: translateY(1%);
  z-index: 0;
}

.titleImg5 {
  position: absolute;
  right: 24%;
  transform: translateY(1%);
  z-index: 0;
}

.titleImg6 {
  position: absolute;
  left: 36%;
  transform: translateY(-5%);
  z-index: -1;
  transform: translateX(-44%);
}

.titleImg7 {
  position: absolute;
  top: 0;
  left: 11%;
  transform: translateY(179%);
  z-index: 0;
}

.titleImg8 {
  position: absolute;
  top: 0;
  right: 90%;
  transform: translateY(222%);
  z-index: 1;
}

.titleImg9 {
  position: absolute;
  top: 0;
  right: 90%;
  transform: translateY(345%);
  z-index: 1;
}

.titleImg10 {
  position: absolute;
  top: 0;
  left: 51%;
  transform: translateX(-22%);
  transform: translateY(-11%);
  z-index: 1;
}

.titleImg11 {
  position: absolute;
  top: 0;
  left: 3%;
  transform: translateY(599%);
  z-index: 1;
}
.gameOverImage {
    position: absolute;

    top: 0;

    left: 37%;

    transform: translateX(-22%);
    transform: translateY(33%);
    z-index: -1;
  }