
.attempts {
    text-align: end;
  }

  #attDisplay {
    text-align: end;
  }
  .attemptsContainer {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-22%);
    transform: translateY(766%);
    z-index: 2;
  }
  
  #timer {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 44%;
    transform: translateX(-22%);
    transform: translateY(1222%);
    z-index: 2;
  }