.attempts {
  text-align: end;
}

#attDisplay {
  text-align: end;
}

.attemptsContainer {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translateX(-22%);
  transform: translateY(766%);
  z-index: 2;
}

#timer {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 44%;
  transform: translateX(-22%);
  transform: translateY(1222%);
  z-index: 2;
}

@media (max-width: 575.98px) {
  #timer {
    transform: scale(1) translateX(-300%) translateY(733%);
  }
}

@media (min-width: 583px) and (max-width: 991.98px) {
  #timer {
    transform: scale(1) translateX(-355%) translateY(811%);
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  #timer {
    transform: scale(1) translateX(-355%) translateY(922%);
  }
}

@media (min-width: 1200px) and (max-width: 2450px) {
  #timer {
    transform: scale(1) translateX(-222%) translateY(1183%);
  }
}

@media (max-width: 575.98px) {
  .attemptsContainer {
    transform: scale(1) translateX(-51%) translateY(968%);
  }
}

@media (min-width: 583px) and (max-width: 991.98px) {
  .attemptsContainer {
    transform: scale(1) translateX(7%) translateY(1066%);
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .attemptsContainer {
    transform: scale(1) translateX(44%) translateY(1222%);
  }
}

@media (min-width: 1200px) and (max-width: 2450px) {
  .attemptsContainer {
    transform: scale(1) translateX(199%) translateY(1555%);
  }
}