.pageTitle {
  text-align: center;
  color: rgb(0, 0, 125);
  text-shadow: aliceblue 1px 1px;
  font-family: 'Play', sans-serif;
  font-size: 55px;
}

.par1 {
  position: relative;
  color: blue;
  text-shadow: black 1px 1px;
  font-size: 22px;
  transform: translateY(-5%);
  border-style: groove;
  border-color: black;
  background-color: rgb(1, 1, 29);
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  padding: 1px;
  margin: 0;
  box-sizing: content-box;
}

.gameOverMessage {
  position: fixed;
  top: 534px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 2;
}

.gameOverMessage {
  color: rgb(204, 255, 0);
  font-size: 44px;
  text-shadow: blue 2px 2px;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

.infoSentence {
  color: rgb(255, 0, 0);
  font-size: 22px;
  text-align: center;
  z-index: 1;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

.doNot {
  color: red;
}

.do {
  color: green;
}

@media (max-width: 575.98px) {
  .par1 {
    transform: scale(.5) translateX(0%) translateY(-44%);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .par1 {
    transform: scale(.5) translateX(0%) translateY(-22%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .par1 {
    transform: scale(.5) translateX(0%) translateY(-155%);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .par1 {
    transform: scale(.5) translateX(0%) translateY(-142%);
  }
}

@media (min-width: 1199.98px) and (max-width: 2450px) {
  .par1 {
    transform: scale(.7) translateX(0%) translateY(-99%);
  }
}

@media (max-width: 575.98px) {
  h1 {
    transform: scale(.8);
  }
}

@media (max-width: 575.98px) {
  .gameOverMessage {
    width: 300px;
    transform: scale(1) translateX(-38%) translateY(-88%);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .gameOverMessage {
    width: 300px;
    transform: scale(1) translateX(-42%) translateY(-29%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .gameOverMessage {
    width: 555px;
    transform: scale(1) translateX(-48%) translateY(-77%);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .gameOverMessage {
    width: 600px;
    transform: scale(1) translateX(-48%) translateY(-55%);
  }
}